<b>{{ctx.env}} Orchestrator ({{ctx.operation}}) : </b>
{% if ctx.owner %}
  {% if ctx.github %}
    <a href="https://github.com/{{ctx.owner}}">{{ ctx.owner }}</a>
  {% else %}
    {{ ctx.owner }}
  {% endif %}
  /
{% endif %}

{% if ctx.repo %}
  {% if ctx.github %}
    <a href="https://github.com/{{ctx.owner}}/{{ctx.repo}}">{{ ctx.repo }}</a>
  {% else %}
    {{ ctx.repo }}
  {% endif %}
  /
{% endif %}

{% if ctx.ref %}
  {% if ctx.github %}
    <a href="https://github.com/{{ctx.owner}}/{{ctx.repo}}/tree/{{ctx.ref}}">{{ ctx.ref }}</a>
  {% else %}
    {{ ctx.ref }}
  {% endif %}
  /
{% endif %}

{% if ctx.commit %}
  {% if ctx.github %}
    <a href="https://github.com/{{ctx.owner}}/{{ctx.repo}}/commit/{{ctx.commit}}">{{ ctx.commit }}</a>
  {% else %}
    {{ ctx.commit }}
  {% endif %}
{% endif %}
:
{% if notification.code %}
  (<b>{{ notification.code }}</b>)
{% endif %}

{% if notification.message %}
  {{ notification.message | truncate(1000) }}
  {% if notification.code == 'CONFIG_VALIDATION_ERROR' %}
  <a href="https://github.com/totem/cluster-orchestrator/blob/master/schemas/job-config-v1.json"> Click here to view the job-config-v1 schema.</a>
  {% endif %}
{% endif %}

{% if ctx['job-id'] %}
  (job-id: {{ ctx['job-id'] }} )
{% endif %}
