{%- set git = ctx.deployment['meta-info'].git or {} %}
<b>Totem ({{ctx.env}} :: Orchestrator :: {{ctx.operation}})</b>
{% if git.owner %}
  {% if git.type == 'github' %}
    <a href="https://github.com/{{git.owner}}">{{ git.owner }}</a>
  {% else %}
    {{ git.owner }}
  {% endif %}
  :
{% endif %}

{% if git.repo %}
  {% if git.type == 'github' %}
    <a href="https://github.com/{{git.owner}}/{{git.repo}}">{{ git.repo }}</a>
  {% else %}
    {{ git.repo }}
  {% endif %}
  :
{% endif %}

{% if git.ref %}
  {% if git.type == 'github' %}
    <a href="https://github.com/{{git.owner}}/{{git.repo}}/tree/{{git.ref}}">{{ git.ref }}</a>
  {% else %}
    {{ git.ref }}
  {% endif %}
  :
{% endif %}

{% if git.commit %}
  {% if git.type == 'github' %}
    <a href="https://github.com/{{git.owner}}/{{git.repo}}/commit/{{git.commit}}">{{ git.commit }}</a>
  {% else %}
    {{ git.commit }}
  {% endif %}
  :
{% endif %}

{% if notification.code %}
  (<b>{{ notification.code }}</b>)
{% endif %}

{% if notification.message %}
  {{ notification.message }}
{% endif %}

{% if ctx['job-id'] %}
  (job-id: {{ ctx['job-id'] }} )
{% endif %}
