Flask==0.10.1
Flask-Cors==1.9.0
gevent==1.0.2
uWSGI==2.0.12
python-etcd==0.3.3
future==0.15.0
PyYAML==3.11
boto==2.34.0
pymongo==3.0.3
Jinja2==2.7.3
requests[security]==2.7.0
urllib3==1.11
celery[mongodb]==3.1.20
https://github.com/totem/flask-hyperschema/archive/v0.1.1.tar.gz
https://github.com/totem/totem-encrypt/archive/master.tar.gz
https://github.com/dlitz/pycrypto/archive/v2.7a1.tar.gz
